<div class="inner-footer">
  <div class="container">
    <div class="inner-title">NEW FASHION</div>

    <div class="inner-wrap">
      <div class="inner-box">
        <h6>Công ty TNHH 3 thành viên</h6>

        <h6>Địa chỉ: 140 Lê Trọng Tấn</h6>

        <h6>Chăm sóc khách hàng: 0274829462</h6>

        <h6>Email: 140letrongtan@gmail.com</h6>
      </div>

      <div class="inner-box">
        <h6>Giới thiệu</h6>

        <h6>Trung tâm trợ giúp</h6>

        <h6>ĐIều khoản sử dụng</h6>
      </div>

      <div class="inner-box">
        <div class="inner-icon">
          <i class="fa-brands fa-facebook" style="color: blue"></i>

          <i class="fa-brands fa-instagram" style="color: rgb(204, 16, 48)"></i>

          <i class="fa-brands fa-youtube" style="color: red"></i>
        </div>
      </div>
    </div>
  </div>
</div>
