
  <header class="header">
    <div class="container">
      <div class="inner-wrap">
        <div class="animate__animated animate__fadeInLeft inner-logo">
          <b>GROUP</b>
        </div>
        <div class="inner-menu">
          <ul>
            <li class="animate__animated animate__fadeInLeft">
              <i class="fa-solid fa-house"></i>
              <a href="../pages/index.html">Trang chủ</a>
            </li>
            <li class="animate__animated animate__fadeInLeft">
              <i class="fa-brands fa-product-hunt"></i>
              <a href="../pages/products.html">Sản phẩm</a>
            </li>
            <li class="animate__animated animate__fadeInLeft">
              <i class="fa-solid fa-eject"></i>
              <a href="../pages/about.html">Giới thiệu</a>
            </li>
            <li class="animate__animated animate__fadeInLeft">
              <i class="fa-solid fa-address-book"></i>
              <a href="../pages/contact.html">Liên hệ</a>
            </li>
          </ul>
        </div>
        <div class="inner-right">
          <div class="animate__animated animate__fadeInLeft inner-search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <div class="animate__animated animate__backInUp search">
              <input type="text" id="search-input" placeholder="Tìm kiếm..." />
              <button class="button" id="search-button">Search</button>
            </div>
          </div>

          <div class="animate__animated animate__fadeInLeft inner-user">
            <div class="inner-avatar">
              <img src="assets/img/6596121.png" alt="" error />
            </div>
            <span>Tài khoản</span>

            <i class="fa fa-angle-down"></i>
            <div class="animate__animated animate__backInUp account">
              <a href="../account/login.html">Đăng nhập</a>
              <a href="../account/register.html">Đăng kí</a>
            </div>
          </div>
          <a href="../pages/GioHang.html" class="animate__animated animate__fadeInLeft inner-cart">
            <i class="fa-solid fa-cart-shopping"></i>
            <span>Giỏ hàng</span>
          </a>

        </div>
      </div>
    </div>
  </header>
  <!-- end header -->
</body>
